/* Title in the head */

.Name {
    font-size: 400%;
    color: rgb(255, 255, 255);
    font-family: Brush Script MT;
    text-align: center;
    background-image: url('background_picture.jpg');
    background-position: center;
}

.backgr {
    background-color: rgb(204, 229, 255);
}

table {
    width: 100%;
}

.dd {
    text-align: center;
    margin-top: 3px;
}


/*button page up */

.button {
    margin-right: 15%;
    background-color: green;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    border-style: solid;
    border-radius: 10%;
    border-color: black;
    float: right;
    text-decoration: none;
}


/* images */

.img1 {
    margin: 0px auto;
    width: 400px;
    display: block;
}

.img2 {
    margin: 2% auto;
    width: 70%;
    display: block;
}
/* Accessibility page*/

.acc {
    text-align: center;
    font-size: larger;
    margin: 5%;
}


/* Foot definition */

.foot {
    font-family: Brush Script MT”;
    text-align: center;
    font-size: 500%;
    color: rgb(9, 82, 40);
    font-family: Brush Script MT;
}


/* White castle image */

.CastleImage {
    max-width: 100%;
    width: 40%;
    display: block;
    margin: 0px auto;
}


/* Dishes definition in menu page */

.food {
    color: rgb(14, 72, 49);
    text-align: center;
}


/* Price definition in menu page */

.price {
    color: rgb(203, 91, 124);
    text-align: center;
    font-size: larger;
}


/* rotating fork in menu page */

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}


/* Wine Image definition in menu page*/

#WineImage {
    height: 100px;
    width: 80px;
    display: block;
    margin: 0px auto;
}


/* Titles in menu page */

.Menu_Title {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}


/*Title for booking page*/

.book_h1 {
    font-size: 250%;
    text-align: center;
    font-weight: bold;
}


/*Title for booking page*/

.book_h2 {
    font-size: 200%;
    text-align: center;
    font-weight: bold;
}


/*Title for booking page*/

.book_h3 {
    font-size: 150%;
    text-align: center;
    font-weight: bold;
}


/*Title for booking page*/

.book_main {
    text-align: center;
    font-size: larger;
}


/*For side style start*/

.bodyForside {
    background-image: url('background_picture.jpg');
    background-attachment: unset;
    background-position: center;
}


/*For side style*/

.flex-container {
    padding: 5px;
    margin: 5%;
    font-family: Georgia, serif;
    color: rgb(13, 13, 64);
    display: flexbox;
    background-color: rgba(244, 240, 236, 0.77);
}


/*navbar style*/

.navbar {
    text-decoration: none;
    background-color: rgba(154, 145, 149, 0.889);
    overflow: hidden;
    display: flex;
    position: sticky;
    top: 0rem;
}



/*navbar style*/

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a.active {
    background-color: #3b3b32;
    color: white;
}


/*navbar style*/

.navbar a:hover {
    background-color: rgb(9, 82, 40);
    color: rgb(255, 255, 255);
}


/*For side style*/

#intro::first-letter {
    line-height: 40px;
    font-size: 50px;
    float: left;
    font-family: Georgia, serif;
}


/*last side style*/

.CastleImage {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0px auto;
}


/*last side style*/

.banner {
    background-image: url(https://www.multek.com/sites/default/files/styles/slick_slides/public/2017-09/tech-banner-03.jpg?itok=6r2iOoyJ);
}


/*last side style*/

.question {
    font-weight: bold;
}


/*last side style*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*last side style*/

#titleBox {
    background-color: #cfc;
    padding: 10px;
    border: 1px solid green;
}


/*For smal screens*/

@media (max-width: 680px) {
    .navbar {
        display: grid;
    }
    .img1 {
        width: 80%;
    }
    .img2 {
        width: 95%;
    }
}
